<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p>Author: {{ post.author.username }}</p>
            <h3>Comments:</h3>
            <ul>
                {% for comment in post.comments.all %}
                    <li>{{ comment.author.username }}: {{ comment.text }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</body>
</html>